body {
    background:#EFB09C;
    font-size: 20px;
    color:#550000;
}
footer {
    font-size: 10px;
}
.post {
    border: 3px solid black;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
img {
    display: inline-block;
    width: 60px;
    height:60px;
    border-radius: 50%;
}
